[mysqld]
log_error = /hg-logs/hg-mysql/error.log
general_log = 1
general_log_file = /hg-logs/hg-mysql/mysql.log
slow_query_log = 1
slow_query_log_file = /hg-logs/hg-mysql/mysql-slow.log
bind-address=0.0.0.0
