name: hydrogarden
services:
  hg-mysql:
    image: hg-mysql:latest
    env_file:
      - .env.mysql
    container_name: hg-mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    volumes:
      - hg-mysql-data:/var/lib/mysql
      - hg-logs:/hg-logs
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "healthcheck" ]
      interval: 10s
      retries: 5
      start_period: 10s

  hg-rabbitmq:
    image: hg-rabbitmq:latest
    restart: unless-stopped
    env_file:
      - .env.rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
      - "1883:1883"
    container_name: hg-rabbitmq
    hostname: hg-rabbitmq
    volumes:
      - hg-rabbitmq-data:/var/lib/rabbitmq
      - hg-logs:/hg-logs
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      start_period: 10s
      timeout: 60s

  hg-backend:
    image: hg-backend:latest
    restart: unless-stopped
    env_file:
      - .env.hg-backend
    container_name: hg-backend
    hostname: hg-backend
    ports:
      - "8081:8081"
      - "5005:5005"
    volumes:
      - hg-logs:/app/hg-logs
    healthcheck:
      test: ["CMD", "curl", "http://localhost:8081/hg-backend/actuator/health"]
      interval: 5s
      start_period: 10s
      timeout: 60s
    depends_on:
      hg-mysql:
        condition: service_healthy
      hg-rabbitmq:
        condition: service_started

  hg-webclient:
    image: hg-webclient:latest
    restart: unless-stopped
    env_file:
      - .env.webclient
    container_name: hg-webclient
    ports:
      - "3000:3000"
    hostname: hg-webclient
    healthcheck:
      test: ["CMD-SHELL", "wget http://127.0.0.1:3000/ -O /dev/null"]
      interval: 5s
      start_period: 10s
      timeout: 60s
    volumes:
      - hg-logs:/hg-logs
  hg-nginx:
    image: hg-nginx:latest
    restart: unless-stopped
    container_name: hg-nginx
    ports:
      - "80:80"
    depends_on:
      - hg-backend
      - hg-webclient
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:80/internal/healthcheck" ]
      interval: 5s
      start_period: 10s
      timeout: 60s
  hg-util-logrotate:
    image: hg-util-logrotate:latest
    container_name: hg-util-logrotate
    volumes:
      - hg-logs:/hg-logs


volumes:
  hg-mysql-data:
  hg-rabbitmq-data:
  hg-logs: